<div class="chat-endview">
    <p class="chat-endview__title">
        Chatbot Amazon
      </p>
      <p class="chat-endview__subtitle">
        <span style="font-size: 1.3em;">Help us to develop our chatbot!</span>
        <br>Fill one off the surveys below
      </p>
    <a href="https://www.google.com/intl/pl/forms/about/">
      <!-- <i class="material-icons">done</i> -->
      <div class="chat-endview__description">
          Sample survey
      </div>
    </a>
    <a href="https://www.google.com/intl/pl/forms/about/">
     <!-- <i class="material-icons">done</i> -->
      <div class="chat-endview__description">
          Sample survey2
      </div>
      </a>
</div>
