<div class="chatbot-wrapper">
  <div class="chat">
    <form id='form-user' *ngIf='!afterstart' ngNativeValidate class="chat__modal-login" (submit)="sendName()" (keyup.enter)="onEnter(sendName())">
      <p class="chat__modal-login__name">
        Chatbot Amazon
      </p>
      <p class="chat__modal-login__welcome">
        Hello user!
        <br> Give me your name, to let me know how to call you.
      </p>
      <div class="chat__modal-login__wrapper-input">
        <label class="visuallyhidden">
          Write your name
        </label>
        <input [(ngModel)]="username" class="user-name" name='username' required placeholder="Write your name">
        <button class="btn" id="send-name">SEND</button>
      </div>
    </form>
    <div class="chat__body" *ngIf='afterstart' #chatBody>
      <div class="chat-message" *ngFor="let item of messages">
        <div class="chat-message__avatar" [ngClass]="{'chat-message__avatar--other': item.isHuman}">
        </div>
        <div class="chat-message__text" [ngClass]="{'chat-message__text--other chat-message__text--robot': item.isHuman}">
          <div class="chat-message__text--pointer" [ngClass]="{'chat-message__text--other--pointer': item.isHuman}"></div>
          <div class="chat-message__text--text">
            {{item.text}}
          </div>
          <div class="chat-message__text--published" [ngClass]="{'chat-message__text--published--human': item.isHuman}">
            {{item.isHuman ? item.nameUser : 'Chatbot'}}
            <span class="chat-message__text--published--time">{{item.date}}</span>
          </div>
        </div>
      </div>
      <div class="chat-hints" *ngIf='hintOccurs'>
        <div *ngFor="let hint of hintList">
          <button class="chat-hints--hintbtn" (click)="chooseHint($event)">{{hint}}</button>
        </div>
      </div>
    </div>
    <div class="chat__footer">
      <form (submit)="sendMessage()" ngNativeValidate (keyup.enter)="onEnter(sendMessage())">
        <textarea #textMessage [disabled]="isSending" name="message" rows="1" required class="txtarea" [(ngModel)]="message" placeholder="Zapytaj mnie o coś..">
          </textarea>
        <button id="btn_send" [disabled]="isSending" type="submit" class="btn">SEND</button>
      </form>
    </div>
  </div>
</div>
